
<br><br>
<div class="footer-container">
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h3>ABOUT</h3></div>
                <p class="margin-bottom-25 md-margin-bottom-40">
                    We have many recipes, just needed a place to keep them, sha bang! Here it is!

                </p>

                <!-- Monthly Newsletter -->
                <!--<div class="headline"><h3>MONTHLY NEWSLETTER</h3></div>
                <p>Subscribe to our newsletter and stay up to date with the latest recipes!</p>

                <form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                            <span class="input-group-btn">
                                <button class="btn-u" type="button">Subscribe</button>
                            </span>
                    </div>
                </form>-->
            </div>
            <div class="col-md-4 md-margin-bottom-40">

            </div>
            <div class="col-md-4">
                <!-- Contact Us -->
                <div class="headline"><h3>CONTACT US</h3></div>
                <address class="md-margin-bottom-40">
                    25, Lorem Lis Street, Orange <br/>
                    California, US <br/>
                    Phone: 800 123 3456 <br/>
                    Fax: 800 123 3456 <br/>
                    Email: <a href="#" class="">info@lennys-recipes.com</a>
                </address>

                <!-- Social Links -->
                <!--<div class="headline"><h3>STAY CONNECTED</h3></div>
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                </ul>-->
            </div>
        </div>
    </div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>
                    2016 &copy; LENNYS-RECIPES.COM ALL Rights Reserved.
                </p>
            </div>
            <div class="col-md-6">
                <a href="index.html" class="pull-right">
                   <h3>LENNY'S RECIPES</h3>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>

